*{
    padding: 0;
    margin: 0;
    
}
nav{
    
    height: 100px;
    width: 100vw;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
.detail{
    font-size: 22px;
    
}
.item1{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
ul{
    display: flex;
}
.item3{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.info ul li{
    display: flex;
    margin: 32px;
    font-size: 22px;
    
}
p{
    font-size: 22px;
    margin-left: 85px;
}
.container{
    width: 100vw;
    height: 750px;
    background-color:rgb(247, 240, 230) ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background-size: cover;
    
}
.a{
    margin-top: 200px;
}
.item1{
border: 2px solid blu;
}
.item2{
    border: 2px solid blu;
    }
    .heading{
       font-size: 80px;
        
       margin-top: 100px;
        margin-left: 30px;


    font-family: "Ballet", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  
    }
    .photo{
        border-radius: 255px;
        margin-top: 260px;
        margin-left: 10px;
        position: fixed;
    }
footer{
    height: 100px;
    width: 100%;
    background-color: rgb(247, 240, 230);
    display: flex;
    align-items: center;
    justify-content: center;

}
footer ul li{
    width: 100px;
}